/* FUENTES DE GOOGLE */
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

/* Estilo, titulo = Veterinaria Cuki */
.Titulo_vet{
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 5px 5px 5px violet;
    /* padding-top: 20px; */
    /* margin: 0; */
    /* margin-top: 2px; */
    margin-top: 20px;
    font-size: 40px;
    /* background-color:teal; */
    /* display:block; */
    /* display:flexbox; */
    /* padding-top: 10px; */
    background-color: lightpink;
    
}

/* ESTILOS DE LISTA DESORDENADA */
ul{
    margin-left: 30px;
    list-style: none;
    font-size: 20px;
    position: absolute;
}

/* imagen de fondo del proyecto */
.fondo{
    background-size: 100%;
    background-image: url(/imagenes/FondoVet.jpg);
    height: 600px;
    /* opacity: 80%; */
}

/* Primer parrafo (En la veterianaria Cuki....) */
p{
    position: absolute;
    margin-top: 130px;
    font-size: 25px;
    color: darkorchid;
    margin-left: 10px;
    box-shadow: 5px 5px 5px lightpink;
    
}

/* imagenes consultorio */
.Imgconsul{
    position: absolute;
    margin-left: 10px;
    margin-top: -310px;
    /* flex-direction: row-reverse; */
    /* flex-wrap: nowrap; */
    /* align-content: center; */
    /* justify-content:space-evenly; */
    /* align-self: flex-start; */
    opacity: 85%;
    /* justify-content: center; */
    
}
    
    

    
    
    
