/* enlaces de Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

/* Estilo de titulo */
.Titulo_vet{
    margin-top: 10px;
    /* padding-top: 10px; */
    font-size: 70px;
    /* margin-left: 30px; */
    text-align: center;
    text-shadow: 5px 5px 5px blueviolet;
    font-family: 'Shadows Into Light', cursive;
}

.enlaces{
    font-size: 18px;
    /* margin-top: 0px; */
    padding: 0px;
    margin-left: 30px;
    list-style: none;
}

body{
    background-color: #ffe4c4;
}

/* diseño del pprimer parrafo */
.parrafo{
    text-align: center;
    font-size: 20px;
    
}
    
.redes{
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
    font-size: 70px;
    text-shadow: 5px 5px 5px blueviolet;
}

.serv{
    text-align: center;
    text-shadow: 5px 5px 5px blueviolet;
    font-family: 'Shadows Into Light', cursive;
    font-size: 70px;
}














